<div class="container">
    <div class="row">
        <div class="col-4">
            Twój profil
        </div>
        <div class="col-8">
            <div class="alert alert-info" *ngIf="editForm.dirty">
                <strong> Informacja: </strong> Zmiany są nie zapisane.
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img src="{{photoUrl  || '../../../assets/user.png'}}" height="200px">
                <div clas="card-body">
                    <div>
                        <strong>Miejoscowosc</strong>
                        <p>{{user.city}}</p>
                    </div>
                    <div>
                        <strong>Wiek</strong>
                        <p>{{user.age}}</p>
                    </div>
                    <div>
                        <strong>Last Active</strong>
                        <p>{{user.lastActive | messageTime }}</p>
                    </div>
                    <div>
                        <strong>Utworzono</strong>
                        <p>{{user.created | date : 'dd-MM-yyyy'}}</p>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-succes btn-block" [disabled]="!editForm.dirty" form="editForm"> Zapisz zmiany</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-panel">
                <tabset class="member-tabser">
                    <tab heading="Edycja profilu">
                        <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
                            <h4>
                                Zainteresowania
                            </h4>
                            <textarea name="knownAs" rows="6" class="form-control" [(ngModel)]="user.knownAs"></textarea>
                            <h4>Szczegóły</h4>
                            <div class="form-inline">
                                <label for="city">Miasto</label>
                                <input class="form-control" type="text" name="city" [(ngModel)]="user.city">
                            </div>
                        </form>
                    </tab>
                    <tab heading="Zdjęcia">
                        <app-photo-editor [photos]="user.photos" (getMemberPhotoChange)="memberChange($event)"></app-photo-editor>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>

</div>